<!DOCTYPE html>
<html lang="<?= language ?>">
    <head>
        <?- include('../../layouts/header', {title: title}); ?>

        <!-- Page CSS -->
        <link
            rel="stylesheet"
            href="/css/services/map_address_locationiq.css"
        />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />

        <!-- Locationiq -->
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css"
            rel="stylesheet"
        />

        <script src="https://tiles.locationiq.com/v3/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.min.js?v=0.2.3"></script>
        <link
            rel="stylesheet"
            href="https://tiles.locationiq.com/v3/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.css?v=0.2.3"
            type="text/css"
        />

        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    </head>
    <body>
        <?- include('../../layouts/sweet_text'); ?>

        <code class="hidden">
            <? if (apikey) { ?>
            <div id="location-iq-apikey">
                <?= apikey ?>
            </div>
            <? } ?>

            <input
                id="ejs-var-address-info-flag"
                type="hidden"
                name=""
                value="<?= addressinfoFlag ?>"
            />

            <input
                type=""
                id="ejs-var-lat"
                name="latitude"
                class="field-input"
                value="<?= referenceLat ?>"
            />

            <input
                type=""
                id="ejs-var-lng"
                name="longitude"
                value="<?= referenceLong ?>"
            />
        </code>

        <div id="main-view" style="margin: 5px">
            <!-- Sweet Alert Translated Messages -->
            <?- include('../../layouts/sweet_text'); ?>

            <!-- Yes/No Modal -->
            <div id="modalyesno" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Are you sure this address is correct?
                            </h5>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button
                                id="btn-modal-yes"
                                type="button"
                                class="btn btn-primary"
                            >
                                Confirm
                            </button>
                            <button
                                id="btn-modal-no"
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Box -->
            <div class="container column-center" style="margin-top: 10px">
                <div class="row-space">
                    <input
                        id="input-searchbox"
                        class="controls"
                        type="text"
                        style="
                            border-radius: 10px;
                            height: 40px;
                            width: 80%;
                            font-weight: 700;
                            border-color: red;
                        "
                        placeholder="Type your address here"
                        oninput="SearchPlace(this)"
                    />

                    <button
                        data-i18n="btn_Search"
                        class="btn btn-danger"
                        onclick="BeginSearch()"
                        style="margin-left: 5px"
                    >
                        Search
                    </button>
                </div>
                <!-- Search Box Suggestions -->
                <div
                    class="autocomplete-section hidden"
                    style="max-height: 300px; z-index: 9999"
                >
                    <div class="autocomplete-suggestion">
                        <div class="autocomplete-suggestion-name">
                            Hospital Basico
                        </div>
                        <div class="autocomplete-suggestion-address">
                            AddressAddressAddressAddressAddressAddressAddressAddress
                        </div>
                        <input type="hidden" name="latitude" value="" />
                        <input type="hidden" name="longitude" value="" />
                    </div>
                    <div class="autocomplete-suggestion">
                        <div class="autocomplete-suggestion-name">
                            Hospital Basico
                        </div>
                        <div class="autocomplete-suggestion-address">
                            AddressAddressAddressAddressAddressAddressAddressAddress
                        </div>
                    </div>
                    <div class="autocomplete-suggestion">
                        <div class="autocomplete-suggestion-name">
                            Hospital Basico
                        </div>
                        <div class="autocomplete-suggestion-address">
                            AddressAddressAddressAddressAddressAddressAddressAddress
                        </div>
                    </div>
                    <div class="autocomplete-suggestion">
                        <div class="autocomplete-suggestion-name">
                            Hospital Basico
                        </div>
                        <div class="autocomplete-suggestion-address">
                            AddressAddressAddressAddressAddressAddressAddressAddress
                        </div>
                    </div>
                    <div class="autocomplete-suggestion">
                        <div class="autocomplete-suggestion-name">
                            Hospital Basico
                        </div>
                        <div class="autocomplete-suggestion-address">
                            AddressAddressAddressAddressAddressAddressAddressAddress
                        </div>
                    </div>
                </div>
            </div>

            <div id="map-section" class=""></div>
            <div>
                <button
                    data-i18n="btn_Submit"
                    type="button"
                    class="btn btn-primary pin-submission"
                    style="width: 100%"
                    id="btn-pin-submission-submit"
                >
                    Submit
                </button>
            </div>

            <!-- Pin Drop Submission Section -->
            <div
                id="modalpindropsubmission"
                class="modal fade"
                tabindex="-1"
                role="dialog"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div
                            class="modal-header"
                            style="align-items: center; justify-content: center"
                        >
                            <h6 class="modal-title">
                                Are you sure this address is correct?
                            </h6>
                        </div>
                        <div class="modal-body">
                            <div
                                id="address-info-section"
                                class="container"
                                style="margin-top: 10px"
                            >
                                <div
                                    class="address-info-customer-address"
                                    style="margin-bottom: 15px"
                                >
                                    <p
                                        data-i18n="label_CustomerAddress"
                                        style="
                                            text-align: center;
                                            margin-bottom: 0.25rem;
                                            font-weight: 700;
                                        "
                                    >
                                        Customer Address
                                    </p>
                                    <p
                                        id="address-info-customer-address"
                                        style="text-align: left; margin: 0"
                                    ></p>
                                </div>
                                <div id="modal-address-fields">
                                    <!-- Code references -->
                                    <section class="hidden">
                                        <!-- Inputs -->
                                        <div class="col-md-12">
                                            <div class="field-group">
                                                <label class="small" for="">
                                                    Lat - Input
                                                </label>
                                                <input
                                                    type=""
                                                    id="input-lat"
                                                    name="latitude"
                                                    value=""
                                                    class="field-input"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="field-group">
                                                <label class="small" for="">
                                                    Long - Input
                                                </label>
                                                <input
                                                    type=""
                                                    id="input-long"
                                                    name="longitude"
                                                    value=""
                                                    class="field-input"
                                                />
                                            </div>
                                        </div>
                                    </section>

                                    <? if (addressinfoSection) {?>
                                    <div>
                                        <p
                                            data-i18n="label_AdditionalAddressInformation"
                                            style="
                                                text-align: center;
                                                margin: 0;
                                                font-weight: 700;
                                            "
                                        >
                                            Additional Address Information
                                        </p>
                                    </div>
                                    <!-- Generated Address Fields here -->
                                    <div class="address-fields">
                                        <?- addressinfoSection ?>
                                    </div>
                                    <? } ?>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                data-i18n="btn_Submit"
                                type="button"
                                class="btn btn-primary"
                                style="width: 100%"
                                id="btn-final-submit"
                                data-dismiss="modal"
                            >
                                Submit
                            </button>
                            <button
                                id="btn-modal-addressinfo-no"
                                type="button"
                                style="width: 100%"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <?- include('../../layouts/z_close_view') ?>

        <?- include('../../layouts/footer_scripts') ?>

        <!-- Self Scripts -->
        <script src="/js/services/map_address_locationiq.js"></script>
    </body>
</html>
