<!DOCTYPE html>
<html lang="<?= language ?>">
    <head>
        <?- include('../../layouts/header', {title: title}); ?>

        <!-- Page CSS -->
        <link rel="stylesheet" href="/css/services/map_address.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <?- include('../../layouts/sweet_text'); ?>

        <div id="main-view" style="margin: 5px">
            <!-- Sweet Alert Translated Messages -->
            <?- include('../../layouts/sweet_text'); ?>

            <!-- Additional Address Info Texts -->
            <code>
                <input
                    type="hidden"
                    id="ejs-var-address-info-array"
                    name="address-info-array"
                    value="<?= addressInfoArray ?>"
                />

                <input
                    type="hidden"
                    id="ejs-var-address-info-flag"
                    name="address-info-flag"
                    value="<?= addressInfoExists ?>"
                />
            </code>

            <!-- Yes/No Modal -->
            <div id="modalyesno" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Are you sure this address is correct?
                            </h5>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button
                                id="btn-modal-yes"
                                type="button"
                                class="btn btn-primary"
                            >
                                Confirm
                            </button>
                            <button
                                id="btn-modal-no"
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Box -->
            <div class="container row-space" style="margin-top: 10px">
                <input
                    id="pac-input"
                    class="controls"
                    type="text"
                    style="
                        border-radius: 10px;
                        height: 40px;
                        width: 80%;
                        font-weight: 900;
                        border-color: red;
                    "
                    placeholder="Type your address here"
                />

                <button
                    data-i18n="btn_Search"
                    class="btn btn-danger"
                    onclick="BeginSearch()"
                    style="margin-left: 5px"
                >
                    Search
                </button>
            </div>

            <div id="map" class=""></div>
            <!-- Addition Address Info Section -->
            <div class="container" style="margin-top: 10px">
                <!-- Code references -->
                <section class="hidden">
                    <!-- References -->
                    <div class="col-md-12">
                        <div class="field-group">
                            <label class="small" for="">
                                Lat - Reference
                            </label>
                            <input
                                type=""
                                id="input-lat-reference"
                                name="latitude"
                                class="field-input"
                                value="<?= referenceLat ?>"
                            />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="field-group">
                            <label class="small" for="">
                                Long - Reference
                            </label>
                            <input
                                type=""
                                id="input-long-reference"
                                name="longitude"
                                class="field-input"
                                value="<?= referenceLong ?>"
                            />
                        </div>
                    </div>

                    <!-- Inputs -->
                    <div class="col-md-12">
                        <div class="field-group">
                            <label class="small" for=""> Lat - Input </label>
                            <input
                                type=""
                                id="input-lat"
                                name="latitude"
                                value=""
                                class="field-input"
                            />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="field-group">
                            <label class="small" for=""> Long - Input </label>
                            <input
                                type=""
                                id="input-long"
                                name="latitude"
                                value=""
                                class="field-input"
                            />
                        </div>
                    </div>
                </section>
                <div
                    class="address-info-customer-address"
                    style="margin-bottom: 15px"
                >
                    <p
                        data-i18n="label_CustomerAddress"
                        style="
                            text-align: center;
                            margin-bottom: 0.25rem;
                            font-weight: 700;
                        "
                    >
                        Customer Address
                    </p>
                    <p
                        id="address-info-customer-address"
                        style="text-align: left; margin: 0"
                    ></p>
                </div>
                <div
                    class="address-info-latitude-longitude hidden"
                    style="margin-bottom: 15px"
                >
                    <p
                        data-i18n="label_LatitudeLongitude"
                        style="
                            text-align: center;
                            margin-bottom: 0.25rem;
                            font-weight: 700;
                        "
                    >
                        Latitude, Longitude
                    </p>
                    <p
                        id="address-info-latitude-longitude"
                        style="text-align: center; margin: 0"
                    ></p>
                </div>
                <div id="modal-address-fields">
                    <? if (addressInfoExists) {?>
                    <div>
                        <p
                            data-i18n="label_AdditionalAddressInformation"
                            style="
                                text-align: center;
                                margin: 0;
                                font-weight: 700;
                            "
                        >
                            Additional Address Information
                        </p>
                    </div>
                    <!-- Generated Address Fields here -->
                    <div class="address-fields"></div>
                    <? } ?>

                    <button
                        data-i18n="btn_Submit"
                        type="button"
                        class="btn btn-primary"
                        style="width: 100%"
                        id="btn-final-submit"
                        data-dismiss="modal"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <?- include('../../layouts/z_close_view') ?>

        <?- include('../../layouts/footer_scripts') ?>

        <!-- Self Scripts -->
        <script src="/js/services/map_address.js"></script>

        <!-- Google Maps Script -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=<?= apikey ?>&libraries=places&callback=initAutocomplete"
            async
            defer
        ></script>
    </body>
</html>
