<section id="sweet-text-section" class="hidden">
    <!-- These are just tests used for sweet alert messages -->
    <p data-i18n="text_ChatMessageLength" id="sweet-text_ChatMessageLength">
        Message length greater than 100 characters!
    </p>

    <p data-i18n="text_SearchBoxNotEmpty" id="sweet-text_SearchBoxNotEmpty">
        Search box must not be empty.
    </p>

    <p data-i18n="text_LocationNotFound" id="sweet-text_LocationNotFound">
        Location was not found. Please input a different value.
    </p>

    <p
        data-i18n="text_CustomerAddressCannotBeBlank"
        id="sweet-text_CustomerAddressCannotBeBlank"
    >
        Customer Address cannot be blank!
    </p>

    <p
        data-i18n="text_SupplyBothDateAndTime"
        id="sweet-text_SupplyBothDateAndTime"
    >
        Please supply both date & time, or both blank/empty
    </p>

    <p data-i18n="text_ValidContactDetails" id="sweet-text_ValidContactDetails">
        Please ensure to input valid contact details.
    </p>

    <p data-i18n="text_OTPSent" id="sweet-text_OTPSent">
        OTP has been resent! Please check your email.
    </p>

    <p data-i18n="text_AddedGuest" id="sweet-text_AddedGuest">
        Successfully added a guest!
    </p>

    <p data-i18n="text_AnswerEveryQuestion" id="sweet-text_AnswerEveryQuestion">
        There are some options that are not filled in! Please make sure to
        answer every question!
    </p>

    <p data-i18n="text_InvalidCard" id="sweet-text_InvalidCard">
        Credit card details are invalid! Please make sure they are correct.
    </p>

    <p data-i18n="text_InvalidEmail" id="sweet-text_InvalidEmail">
        Given email is invalid. Please make sure it is correct
    </p>
    <p data-i18n="text_NotEnoughBalance" id="sweet-text_NotEnoughBalance">
        Not enough balance on card. Please try a different card.
    </p>
    <p data-i18n="text_PaymentUnsuccessful" id="sweet-text_PaymentUnsuccessful">
        Payment unsuccessful. Please try a different card.
    </p>
    <p data-i18n="text_CardDeclined" id="sweet-text_CardDeclined">
        Card Declined. Please try a different card.
    </p>
    <p data-i18n="text_BlankFields" id="sweet-text_BlankFields">
        Mandatory fields are blank.
    </p>
    <p
        data-i18n="text_AuthenticationRequired"
        id="sweet-text_AuthenticationRequired"
    >
        Authentication Required
    </p>
</section>
