<div id="z-close-view" class="hidden">
    <div class="container">
        <div class="column-center">
            <div class="row-center">
                <!-- Style is specific to override any CSS -->
                <img
                    src="/assets/checkmark.svg"
                    alt="Webview can now be closed"
                    srcset="/assets/checkmark.svg"
                    style="height: 150px"
                />
            </div>
            <div class="row-center">
                <h6 data-i18n="text_WebviewClosed">
                    Webview can now be closed
                </h6>
            </div>
        </div>
    </div>
</div>
