<!DOCTYPE html>
<html lang="en">
    <head>
        <?- include('../../../layouts/header', {title: title}); ?>

        <!-- Page CSS -->
        <link rel="stylesheet" href="/css/payments/creditformlanding.css" />
    </head>
    <body>
        <?- include('../credit_form_landing', {
            status: status,
            header: header,
            message: message,
        }) ?>

        <?- include('../../../layouts/footer_scripts') ?>
    </body>
</html>
