/* GENERIC CSS SHARED BY ALL WEBVIEWS */

/* Layouts */

.row-space {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.column-space {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column-flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Elements */

.element-full {
    width: 100%;
}

.element-tall {
    height: 100%;
}

/* Text Formatting */

.text-bold {
    font-weight: bolder;
}

.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

/*
.text-justify {
    text-align: justify;
    text-justify: inter-character;
}
*/

/* Utilites */

.hidden {
    display: none;
}

/* Loading animation */

.loader {
    border: 16px solid #f5f5f5;
    border-top: 16px solid #d3d3d3;
    border-bottom: 16px solid #d3d3d3;
    border-radius: 75%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ejs-var-card-style {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    box-shadow: 3px 3px 5px 6px gray;
}

hr {
    width: 100%;
    border-color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
